<div class="container  ">
<div id="errorBoxDiv" class=" hidden
 bg-red-300 rounded-md w-3/4 ml-auto mr-auto 
p-5"></div>
<form [formGroup]="postCreateFrm" >
  <div class="rtl">

    <div class=" grid  grid-cols-2  w-full">

        <div class="col-span-1  ">

          <div class="flex w-full  gap-x-2 ">
            <div >
            <label for="title" class="float-right pl-4">عنوان</label>
            </div>
            <div class="w-full">
            <input type="text" name="title-txt" id="title-txt" formControlName="titleTxt" autocomplete="given-name" class="w-10/12 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300
              placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm
              sm:leading-6 ">
            <div *ngIf="postCreateFrm?.invalid && (title?.dirty || title?.touched)"
            class="flex text-xs text-red-600" >
                    <div *ngIf="title?.errors?.['required']">
                        لطفا فیلد عنوان را پر کنید
                    </div>
            </div>
            </div>
          </div>
        </div>
        <div class="col-span-1 ">
          <div class="relative flex gap-x-3">
            <div class="flex h-6 items-center">
            <input id="is-visible" name="visibile-chbox" type="checkbox" class="h-4 basis-2/4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600">
            </div>
            <div class="text-sm leading-6">
            <label for="comments" class="font-medium text-gray-900">قابلیت نمایش</label>
            </div>
        
        
            </div> 


        </div>
        <div class="col-span-1 row-span-5 ">
          <div class="   gap-x-2 mt-5 ">
          <div >
          <label for="about" class="float-right text-sm font-medium leading-6 text-gray-900 pl-9">متن</label>
          </div>
          <div class="basis-1/3">
          <textarea id="body-txt" name="body-txt" formControlName="bodyTxt" rows="12" class="pr-2  block w-9/12 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"></textarea>
          <div *ngIf="postCreateFrm?.invalid && (body?.dirty || body?.touched)"
          class="flex ml-16 text-xs text-red-600" >
                  <div *ngIf="body?.errors?.['required']">
                      لطفامتن  را پر کنید
                  </div>
          </div>
          </div>
          <p class="mt-3 text-sm leading-6 text-gray-600"></p>
          </div></div>
        <div class="col-span-1 mt-5">
  
        
            <div class="w-full ">
                  <label for="last-name" class="float-right">برچسب </label>
            </div>
            <div class="">
            <input type="text" name="tag-txt" id="tag-txt" formControlName="tagTxt" autocomplete="family-name" class="pr-4 mr-2 w-8/12 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            <button type="button" id="tag-add-btn"  class="mr-2 rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">+</button>
            <div *ngIf="postCreateFrm?.invalid && (tag?.dirty || tag?.touched)"
            class="flex ml-16 text-xs text-red-600" >
                    <div *ngIf="tag?.errors?.['required']">
                        لطفا فیلد تگ را پر کنید
                    </div>
            </div>
            </div>
        
            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
            <div class="mt-2 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
              <div id="tags-container-div" role="list" class="mr-10 border-2 border-red-200 divide-y  rounded-md overflow-y-auto">
        
              </div>
            </div>
          </div>
        </div>
        

        <div class="col-span-1 ">
            
      <div class="flex  gap-x-2 mb-10">
        <div >
        <label for="last-name" class="" >لینکها  </label>
        </div>
        <div class="w-full ">
        <input type="text" name="linkTxt" id="link-txt" formControlName="linkTxt" autocomplete="given-name" class="pr-4 mr-2 w-9/12 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        <button type="button" id="link-add-btn" class=" mr-2 rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">+</button>
    
        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
    
        <div class="mt-2 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
          <div id="links-container-div" role="list" class="border-2 border-red-200  divide-y  rounded-md overflow-y-auto">
    
          </div>
        </div>
        </div>
    
        </div>
    
        </div>
        </div>
      </div>



      </div>

  <div class="mt-6 flex items-center justify-end gap-x-6">
    <button type="button" class="text-sm font-semibold leading-6 text-gray-900">Cancel</button>
    <button type="submit" id="create-post-submit-btn" class="rounded-md bg-indigo-600 px-3 py-2 text-sm 
    font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 
    focus-visible:outline-offset-2 focus-visible:outline-indigo-600">ثبت</button>
  </div>
</form>
</div>