<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->




<div class="w-full rtl bg-gray-300">
  <!-- navbar -->
<nav class="flex border-2 border-blue-100 bg-cyan-500 w-full">

  <ul class=" hidden sm:flex-row sm:flex sm:visible  gap-2 w-full  p-2">
    <li class="">
      <a class=" hover:font-semibold " routerLink="/socket" routerLinkActive="active" ariaCurrentWhenActive="page">گفتگو آنلاین </a>
     </li>
    <li class="">
      <a class=" hover:font-semibold " routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">ورود </a>
     </li>
    <li class="">
     <a class=" hover:font-semibold " routerLink="/blog" routerLinkActive="active" ariaCurrentWhenActive="page">وبلاگ </a>
    </li>

    <li class=" ">
      <a class="hover:font-semibold " routerLink= "/blogs" [queryParams]={page:1} routerLinkActive="active" ariaCurrentWhenActive="page">لیست وبلاگ ها</a>
     </li>

     <li class=" ">
      <a class="hover:font-semibold " routerLink="/posts/create" routerLinkActive="active" ariaCurrentWhenActive="page">پست  </a>
     </li>

     <li class="">
      <a class=" hover:font-semibold " routerLink="/files"  routerLinkActive="active" ariaCurrentWhenActive="page">file </a>
     </li>

     <li class=" border-gray-400 ">
      <a class="hover:font-semibold " routerLink="/posts" [queryParams]={page:1} routerLinkActive="active" ariaCurrentWhenActive="page">لیست پست ها </a>
     </li>

  </ul>
  <div class="sm:hidden  p-2 sm: w-full ">
    <div class="float-right">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
      </svg>
    </div>
  </div>
</nav>





  <input type="hidden" #selection>



  <!-- Footer -->



<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class="p-3">
  <router-outlet></router-outlet>
</div>

</div>