<div id="progress-bar" class="fixed bg-pink-500 h-4 top-0 left-0"></div>
<h1 id="count-down"></h1>
<form [formGroup]="myBlogForm" (ngSubmit)="submit()">
    <div class="form-group" [formGroup]="myBlogForm">
    <div class="flex flex-col gap-3 w-full  h-auto">    
        <!-- title -->
        <div class="flex ">
            <a  class="w-16">title : </a>
            <input 
            required
            formControlName="title"
            id="title" 
            type="text" 
            class="form-control"
            type="text" value="" placeholder="title" class="rounded-sm pl-2 w-2/4  border border-gray-500 focus:border-0">
        </div>
                <div *ngIf="myBlogForm?.invalid && (title?.dirty || title?.touched)"
                class="flex ml-16 text-xl text-red-600" >
                        <div *ngIf="title?.errors?.['required']">
                            title is required.
                        </div>
                </div>
                        <!-- author -->
        <div class="flex ">
            <a  class="w-16">author : </a>
            <input 
            required
            formControlName="author"
            id="author" 
            type="text" 
            class="form-control"
            type="text" value="" placeholder="author" class="rounded-sm pl-2 w-2/4  border border-gray-500 focus:border-0">
        </div>
                <div *ngIf="myBlogForm?.invalid && (author?.dirty || author?.touched)"
                class="flex ml-16 text-xl text-red-600" >
                        <div *ngIf="author?.errors?.['required']">
                            author is required.
                        </div>
                </div>

          <!-- body -->
        <div class="flex ">
            <a  class="w-16">body : </a>
            <textarea 
            formControlName="body"
            id="body" 
            type="text" 
            class="form-control"
            type="text" value="" placeholder="blog body" class="rounded-sm pl-2 w-2/4  
            border border-gray-500 focus:border-0 h-20 resize-none" ></textarea>
        </div>
        <div *ngIf="myBlogForm?.invalid && (body?.dirty || body?.touched)"
        class="flex ml-16 text-xl text-red-600" >
                <div *ngIf="body?.errors?.['required']">
                    body is required.
                </div>
        </div>
      
    
    
    </div>
    <div class="flex flex-row-reverse w-2/4 ml-16 mt-4 gap-2 ">
        <!-- real submit button -->
        <button class="border  border-blue-600  text-white bg-blue-500 
        p-2 rounded-md" type="submit" *ngIf="myBlogForm.valid" >Submit</button>

        <!-- fake submit button -->
        <button  class="border  border-blue-600  text-white bg-blue-500 
        p-2 rounded-md" *ngIf="myBlogForm.invalid" >Submit</button>

         <!-- text button -->
        <button class="border  border-yellow-600  text-white bg-yellow-500 
        p-2 rounded-md" type="button" (click)="onReset()" >Reset</button>
        <button  type="button" class="block text-white bg-red-500 
        p-2 rounded-md" >Cancel</button>
    </div>
    </div>
<div>
    
</div>
                 <h1 id="counter"></h1>
                 <button id="startBtn" class="border  border-yellow-600  text-white bg-blue-500 
                
                 p-2 rounded-md">start</button>
                 <button id="stopBtn" class="border  border-red-600  text-white bg-red-500 
                
                 p-2 rounded-md">stop</button>
                 <button id="pauseBtn" class="border  border-yellow-600  text-white bg-yellow-500 
                
                 p-2 rounded-md">pause</button>

</form>
  