


<div class="rtl">
<div class="flex-col items-center justify-center  relative ">
  <div id="postCommentsDiv" class="invisible w-8/12 h-96  absolute border-2 border-gray-800 shadow-2xl
  bg-white">

  <div class=" flex-col w-full  ">
        <div class="flex flex-row ">
            <div id="comments-list-tab" class="border-t-0 border-r-0 cursor-pointer w-32 p-2  border border-black text-center" ><a> نظرات</a></div>
            <div id="comments-details-tab" class="border-t-0 border-l-0 cursor-pointer w-32  p-2 border border-black text-center"><a>جزيیات</a></div>
            <div class=" w-full  border-b border-r border-black  p-2">
              <div (click)="hideCommentsDiv()" class="  w-7 float-left  inline-block">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                 class="w-6 h-6 cursor-pointer ">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
              </div>
            </div>
          </div>
  </div>

<div id="comments-list-overview-div" class=" flex flex-row basis-4  w-11/12 mr-6 mt-2 h-72 overflow-y-scroll">

<table class=" text-sm font-light text-right  w-full">
    <thead
      class="border-b bg-white font-medium dark:border-neutral-500 dark:bg-neutral-600">
      <tr>
        <th scope="col" class="px-3 py-2">#</th>
        <th scope="col" class="px-3 py-2">تاریخ</th>
        <th colspan="2"  scope="col" class="px-3 py-2">متن</th>
        <th  scope="col" class="px-3 py-2">نمایش</th>
      </tr>
    </thead>
    <tbody class="text-rightborder-2 border-red-700">
      <tr   *ngFor="let comment of commentList;let indexOfelement=index;"
      [ngClass]="indexOfelement % 2 ==0 ? 'bg-neutral-100' : 'bg-white'"
      class=" transition  ease-in duration-300 h-5 border-b bg-neutral-100 dark:border-neutral-500 dark:bg-neutral-700">
          <td class="whitespace-nowrap px-3 py-2">{{comment.id.toString().substring(0,3)}}</td>
          <td class="whitespace-nowrap px-3 py-2">{{comment.date.toString().substring(0,10)}}</td>
          <td colspan="2"  class="whitespace-nowrap px-3 py-3">{{comment.text}}</td>

          <td class="whitespace-nowrap px-3 py-2">{{comment.isVisible}}</td>
          <td class="whitespace-nowrap px-3 py-2 gap-2 flex">
              <button class="bg-red-600 text-white font-bold p-1 rounded-md"
                 (click)="onDelete(comment._id.toString())">
                 <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
                
                </button>
                 <a class="bg-green-600 text-white font-bold p-1 rounded-md"
                 [routerLink]="['/blogs/edit/', comment._id]">
                 <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
                </svg>
                
                </a>
                 <button  class="bg-green-600 text-white font-bold p-1 rounded-md">posts</button>
          
                </td>
      
      </tr>
    </tbody>
  </table> 
</div>

<div id="comments-detail-overview-div" class="hidden basis-4 w-11/12  h-72 p-5">
  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
        شماره
      </label>
      <a class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="grid-first-name" >
</a>
    </div>
    <div class="w-full md:w-1/2 px-3">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
     عنوان
      </label>
      <a class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="grid-first-name-c" >
      </a>
  </div>
  <div class="w-full mb-6 md:mb-0">
    <div class="w-full px-3 mb-2 md:mb-0">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-password">
        متن نظر
      </label>
      <p class="block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight " id="grid-first-name-x" >
        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از ص	
        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از ص	
        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از ص	
        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از ص	
      </p>
    </div>
  </div>


  <div class="w-full md:w-1/4 px-3">
    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
   امتیاز
    </label>
    <a class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="grid-first-name-c" >
    </a>
  </div>

  <div class="w-full md:w-1/4 px-3">
    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
   وضعیت نمایش
    </label>
    <a class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="grid-first-name-c" >
    </a>
</div>

</div>
</div>

</div>
    <!-- search input -->
    <form [formGroup]="postListForm">
      <div class="flex flex-col">
        <div class="w-3/5 ">
              <input 
              required
              formControlName="srchBoxInput"
              id="srchBoxInput" 
              type="text" 
              class="form-control"
              type="text" value="" placeholder="search in title..." class=" rounded-sm pl-2 w-3/5  border border-gray-500 focus:border-0">
              <!-- search button -->
              <button     
              id="srchBoxBtn" name="srchBoxBtn" value="search"
              class="border  border-blue-600  text-white bg-blue-500 
              p-1 rounded-md">جستجو</button>
              </div>
              
                  <div class="w-1/5 ">
                  <input id="srchbox-is-visible-chbox"
                  formControlName="srchBoxIsVisibleChBox"
                   type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600">
            
                  <label for="comments" class="font-medium text-gray-900">قابلیت نمایش</label>
                </div>
              
                <div>
                  <input id="srchbox-rate-input"
                    formControlName="srchBoxrateInput" min="0" max="5"
                   type="number" >
            
                  <label for="comments" class="font-medium text-gray-900">امتیاز</label>
        
                </div>
                <div>
                  <button     
                  id="adv-srchBox-Btn" name="advSrchBoxBtn" value="search"
                  class="border  border-blue-600  text-white bg-blue-500 
                  p-1 rounded-md">جستجو پیشرفته</button>
                </div>
              </div>     
        

    </form>
<div class="flex flex-col border-2 border-blue-900  ml-auto mr-auto">
<div class=" sm:-mx-6 lg:-mx-8">
  <div class="inline-block  py-2 sm:px-6 lg:px-8">
    <div class="overflow-hidden">
      <table class="text-left text-sm font-light">
        <thead
          class="border-b bg-white font-medium dark:border-neutral-500 dark:bg-neutral-600">
          <tr>
            <th scope="col" class="grid-cols-1 px-6 py-4 w-1/12">#</th>
            <th scope="col" class="grid-cols-1 px-6 py-4 w-1/12">Title</th>
            <th scope="col" class="grid-cols-3 overflow-hidden px-6 py-4">Body</th>
            <th scope="col" class="px-6 py-4 w-1/12">Rate</th>
            <th scope="col" class="px-6 py-4 w-1/12">visibility</th>
            <th scope="col" class="px-6 py-4 w-1/12">actions</th>

          </tr>
        </thead>


        
        <tbody >
          <tr   *ngFor="let post of postList;let indexOfelement=index;"
          [ngClass]="indexOfelement % 2 ==0 ? 'bg-neutral-100' : 'bg-white'"
          class=" transition  ease-in duration-300 h-5 border-b bg-neutral-100 dark:border-neutral-500 dark:bg-neutral-700">
              <td class="whitespace-nowrap grid-cols-1 px-6 py-1 font-medium">{{post._id.toString().substring(0,3)}}</td>
              <td class="whitespace-nowrap grid-cols-2 px-6 py-1">{{post.title}}</td>
              <td class="whitespace-nowrap grid-cols-8 px-6 py-1">{{post.body}}</td>
              <td class="whitespace-nowrap px-6 py-1">{{post.rate}}</td>
              <td class="whitespace-nowrap px-6 py-1">{{post.isVisible}}</td>
              <td class="whitespace-nowrap px-6 py-1 gap-2 flex">
                  <button class="bg-red-600 text-white font-bold p-1 rounded-md"
                     (click)="onDelete(post._id.toString())">
                     <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                    
                    </button>
                     <a class="bg-green-600 text-white font-bold p-1 rounded-md"
                     [routerLink]="['/blogs/edit/', post._id]">
                     <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
                    </svg>
                    
                    </a>
                     <button  (click)="showCommentsDiv(post._id.toString())" class="bg-green-600 text-white font-bold p-1 rounded-md">posts</button>
              
                    </td>
          
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

</div>
<div class ="flex flex-row justify-center">
<div>
<button id="shwMoreBtn" type="button" class="transition ease-in-out   hover:scale-110 duration-300">click to see more</button>
</div>

</div>
</div>